body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #111;
  }


  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .product img {
    width: 100%;
    height: auto;
    max-height: 300px; 
    object-fit: cover; 
  }
  
  .product h3 {
    margin-top: 10px;
  }
  
  .product p {
    margin-top: 5px;
  }
  
  .btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btn :hover {
    background-color: #0056b3;
  }
  
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="title"],
  input[type="imageUrl"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.btn:hover {
    background-color: #0056b3;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Pour aligner le texte au centre */
}

.description img {
    max-width: 100%; /* Pour s'assurer que l'image ne dépasse pas la largeur de son conteneur */
}

  