<header >
    <nav>
      <ul>
        <li><a href="/shop">Magasin</a></li>
        <li><a href="/addproduct">Ajouter un Produit</a></li>
        <li><a href="/managementproduct">Gestion des produits</a></li>
      </ul>
    </nav>
</header>