<header>
  <nav>
    <ul>
      <li><a href="/listproducts">Liste des produits</a></li>
      <li><a href="/addproduct">Ajouter un Produit</a></li>
      <li><a href="/managementproducts">Gestion des produits</a></li>
    </ul>
  </nav>
</header>